.venv
.idea
/staged_raw_materials/
/working/
*.wav
*.mp3
*.mp4
*.flac
*.midi
*.mid
.DS_Store
*.pyc
.env
!**/*.lrc
!**/*.yml
/__pycache__/
logs/
output/
temp/
*.log
*.ckpt
*.pth
*.h5
*.onnx
*.zip
*.tar.gz
*.egg-info
*.egg-info/
**/*.egg-info
**/*.egg-info/
build/
**/build/
dist/
**/dist/
.benchmarks/
/.coverage.hypothesis/
.coverage
.coverage.*
htmlcov/
.hypothesis/
*.pkl
*.db