.venv
.idea
# Ignore staged raw materials directory
/staged_raw_materials/
/working/
/training/
# Ignore common media file types
*.wav
*.mp3
*.mp4
*.flac
*.midi
*.mid
.DS_Store
*.pyc
.env

!**/*.lrc
!**/*.yml