
ANTHROPIC_API_KEY=
ASSEMBLYAI_API_KEY=
DISCOGS_KEY=
DISCOGS_SECRET=
DISCOGS_USER_ACCESS_TOKEN=
HF_MODAL_TOKEN=
LANGCHAIN_TRACING_V2="false"
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
WANDB_API_KEY=
ACCESS_PATH=/<localpath>
MANIFEST_PATH=/<localpath>/packages/extraction/staged_raw_material
BASE_MANIFEST_DB_PATH=/<localpath>/packages/extraction/extraction_data
AGENT_WORK_PRODUCT_BASE_PATH=/<localpath>/packages/ideation/chain_artifacts
ORANGE_CORPUS_DIR=/<localpath>/packages/ideation/src/white_ideation/reference/mcp/rows_bud
CHORD_EXAMPLES_PATH=/<localpath>/packages/generation/chords
GREEN_CORPUS_DIR=/<localpath>/packages/ideation/src/white_ideation/reference/extinction/green_agent_extinction_corpus.json
LOCAL_FONT_PATH=/System/Library/Fonts
GABE_CORPUS_FILE=/<localpath>/packages/ideation/src/white_ideation/reference/biographical/gabe_corpus.md
BIOGRAPHICAL_REFERENCE_FILE=/<localpath>/packages/ideation/src/white_ideation/reference/biographical/biographical_reference.yml
PULSAR_PALACE_IMAGE_BASE_PATH=/<localpath>/packages/ideation/src/white_ideation/reference/gaming/img
DISABLE_CHECKPOINTING=True
MOCK_MODE=False
BLOCK_MODE=False
AGENT_MOCK_DATA_PATH=/<localpath>/packages/ideation/tests/mocks

